{% extends "base/base.html" %}
{% load humanize %}

{% block content %}
<div class="row justify-content-center my-5">
    <div class="col-md-12 col-lg-11 col-xl-10 mb-4 mb-md-0">
        {% for chat_room in object_list %}
            <div class="card mb-2">
                <div class="card-body">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="{% url "chat" chat_room %}" class="text-decoration-none">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex align-items-center">
                                        {% if chat_room.last_chat.sender == request.user %}
                                            <p class="fw-bold mb-0 me-3">{{ chat_room.last_chat.reciever.first_name|title|truncatechars:20 }}</p>
                                        {% else %}
                                            <p class="fw-bold mb-0 me-3">{{ chat_room.last_chat.sender.first_name|title|truncatechars:20 }}</p>
                                        {% endif %}
                                        {% if chat_room.unread_chat_count and request.user != chat_room.last_chat.sender %}
                                            <p class="small fw-bold text-black-50 mb-0 me-3">{{ chat_room.last_chat|truncatechars:80 }}</p>
                                        {% else %}
                                            <p class="small text-muted mb-0 me-3">{{ chat_room.last_chat|truncatechars:80 }}</p>
                                        {% endif %}
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <p class="small text-muted
                                         mb-0 me-2">{{ chat_room.last_chat.created|naturaltime }}</p>
                                        {% if chat_room.unread_chat_count and request.user != chat_room.last_chat.sender %}
                                            <span class="badge rounded-pill bg-secondary">{{chat_room.unread_chat_count}}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        {% empty %}
            <h3 class='mb-5 mt-4 fw-normal'>No Messages found.</h3>
        {% endfor %}
    </div>
</div>
{% endblock content %}
