{% extends "base.html" %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}

{% block content %}
<div class="container py-5">
    <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6">  
          <main class="form-signin w-100 m-auto">
            <form method='post'>{% csrf_token %}
              <h1 class="h3 mb-3 fw-normal">To {{mentee.get_full_name|title}}</h1>
              {% comment %} {{ form|crispy }} {% endcomment %}
              {{ form }}
              <button class="btn btn-warning w-100 py-2" type="submit">Submit</button>
            </form>
          </main>
        </div>
      <div class="col-md-3"></div>
    </div>
  </div>
{% endblock content %}
