{% extends "base.html" %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}

{% block content %}
<div class="row justify-content-center align-items-center vh-100">
    <div class="col-md-4">  
      <main class="form-signin w-100 m-auto">
        <form method='post', action='{% url "login" %}'>{% csrf_token %}
          <h3 class="mb-3 fw-normal">Log In</h3>
          <div class="form-floating mb-3">
            {{ form.username }}
            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
            {% if form.errors %}
              <div class="invalid-feedback">
                {% for error in form.non_field_errors %}
                  <p class='my-0'>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="form-floating mb-3">
            {{ form.password }}
            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
          </div> 
          <button class="btn btn-primary w-100 py-2" type="submit">Log In</button>
        </form>
      </main>
    </div>
</div>
{% endblock content %}