{% extends "base.html" %}

{% block content %}
<main>
  <form method='post', action='{% url "register" %}'>{% csrf_token %}
    <div class='row align-items-center vh-100'>
      <div class='row justify-content-center pe-0'>
        <div class="col-md-2"></div>
        <div class="col-md-10"><h3 class="mb-3 fw-normal">Register</h3></div>        
        <div class="col-md-4">
          {% for field in form %}
            {% if forloop.counter < 4 %}
              <div class="form-floating mb-3">
                {{ field }}
                <label for="{{ field.id_for_label }}">{{ field.label}}</label>
                {% if field.errors %}
                  <div class="invalid-feedback">
                    {% for error in field.errors %}
                      <p class='my-0'>{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
                </div> 
            {% endif %}
          {% endfor %}
        </div>
        <div class="col-md-4">
          {% for field in form %}
            {% if forloop.counter > 3 %}
              <div class="form-floating mb-3">
                {{ field }}
                <label for="{{ field.id_for_label }}">{{ field.label}}</label>
                {% if field.errors %}
                  <div class="invalid-feedback">
                    {% for error in field.errors %}
                      <p class='my-0'>{{ error }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
              </div> 
            {% endif %}
          {% endfor %}
        </div>
        <div class="col-md-8"><button class="btn btn-primary py-2 w-100" type="submit">Register</button></div>
        
      </div>
    </div>
    
    
  </form>
</main>
{% endblock content %}
